footer{
    // position: fixed;
    // bottom: 0%;
    width: 100%;
    background-color: $dark-gray;
    height: 20rem;
    padding: 5%;

    #footer-logo img{
        width: 125px;
        margin-bottom: 15px;
    }

    ul{
        line-height: 1.5;
        li{
            i{
                color: white;
            }
            a{
                color: white;
            }
        }
    }
}