footer{
    width: 100%;
    background-color: $dark-gray;
    min-height: 10rem;
    padding: 30px;

    #footer-logo img{
        width: 125px;
        margin-bottom: 15px;
    }

    ul{
        line-height: 1.5;
        li{
            i,a{
                color: white;
                font-weight: 600;
            }
            i{
                margin-right: 8px;
            }
        }
    }

    @include desktop-only{
        display: flex;
        justify-content: space-between;
        nav{
            width: 60%;
            display: flex;
            justify-content: space-between;
        }
    }
}