.banner{
    position: relative;
    img{
        width: 100%;
        height: 300px;
    }
}

.menu-restaurant{
    height: calc(100vh - 7rem + 20rem);
    // height: 80%;
    .menu{
        background-color: $light-gray;
        width: 100%;
        padding: 20px 5%;
        position: absolute;
        top: 300px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        .menu-header{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            i{
                font-size: 2.4rem;
                font-weight: lighter;
                transition: all .2s ease-in-out;
                &:hover{
                    font-weight: bolder;
                    background: linear-gradient($primary-color, $secondary-color);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
        }
        .entrees{
            height: 350px;
            padding: 20px 0px;
            height: 100%;
            h2{
                font-weight: lighter;
                font-size: 1.7rem;
                border-bottom: 3px solid $tertiary-color;
                padding-bottom: 3px;
                width: 40px;
                margin-bottom: 20px;
            }
            .entrees-container{
                display: flex;
                flex-direction: column;
                .card-menu{
                    position: relative;
                    display: flex;
                    justify-content: space-between;
                    background-color: white;
                    border-radius: 15px;
                    margin-bottom: 15px;
                    height: 70px;
                    padding: 0px 0px 0px 12px;
                    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
                    animation: .5s forwards fadein;
                    opacity: 0;
                    &:nth-child(1){
                        animation-delay:.5s;
                    }
                    &:nth-child(2){
                        animation-delay: .7s;
                    }
                    &:nth-child(3){
                        animation-delay: .9s;
                    }
                    @keyframes fadein {
                        from {
                            opacity: 0;
                        } 
                        to {
                            opacity: 1;
                        }
                    }
                    &:hover{
                        .card-menu__btn{
                            display: block;
                        }
                        .card-menu__plat{
                            animation: slideoff .3s forwards;
                            h3{
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis; 
                            }
                            .card-top{
                                p:first-child{
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                }
                            }
                        }
    
                        @keyframes slideoff {
                            0%{
                                width: 90%;
                            }
                            25%{
                                width: 87.5%
                            }
                            50%{
                                width: 85%
                            }
                        
                            75%{
                                width: 82.5%
                            }
                            100%{
                                width: 80%;
                            }
                        }
                    }
                    .card-menu__plat{
                        display: flex;                    
                        flex-direction: column;
                        justify-content: center;
                        width: 100%;
                        padding-right: 20px;
                        .card-top{
                            display: flex;
                            justify-content: space-between;
                            p:first-child{
                                font-size: 1.4rem;
                                font-weight: lighter;
                            }
                        }
                    }
                }
            }
        }
    }
    .menu-book__btn{
        width: 160px;
    }
}
