.banner{
    position: relative;
    img{
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
}

.menu-restaurant{
    background-color: $light-gray;
    .menu{
        width: 100%;
        padding: 20px 5%;
        position: relative;
        background-color: $light-gray;
        top: -50px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        .menu-header{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            i{
                font-size: 3rem;
                font-weight: lighter;
                &:hover{
                    cursor: pointer;
                    background: linear-gradient($primary-color, $secondary-color);
                    font-weight: bolder;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    font-size: 3.3rem;
                    transition: font-weight .4s ease-in-out, font-size .4s ease-in-out;
                }
            }
        }
        .menu-dishes{
            height: 350px;
            padding: 20px 0px;
            height: 100%;
            h2{
                font-weight: lighter;
                font-size: 1.7rem;
                border-bottom: 3px solid $tertiary-color;
                padding-bottom: 3px;
                width: 40px;
                margin-bottom: 20px;
            }
            &__container{
                display: flex;
                flex-direction: column;
                .card-menu{
                    position: relative;
                    display: flex;
                    justify-content: space-between;
                    background-color: white;
                    border-radius: 15px;
                    margin-bottom: 15px;
                    min-width: 340px;
                    height: 70px;
                    padding: 0px 0px 0px 12px;
                    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
                    animation: .8s forwards fadein;
                    opacity: 0;
                    &:nth-child(1){
                        animation-delay:.3s;
                    }
                    &:nth-child(2){
                        animation-delay: .5s;
                    }
                    &:nth-child(3){
                        animation-delay: .7s;
                    }
                    &:nth-child(4){
                        animation-delay: .9s;
                    }

                    @keyframes fadein {
                        0% {
                            transform: translateY(15px);
                            opacity: 0;
                        } 
                        100% {
                            transform: translateY(0px);
                            opacity: 1;
                        }
                    }
                    &:hover{
                        .card-menu__btn{
                            display: block;
                        }
                        .card-menu__dish{
                            animation: slideoff .3s forwards;
                            h3{
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis; 
                            }
                            .card-top{
                                p:first-child{
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                }
                            }
                        }
    
                        @include keyframes(slideoff){
                            0%{
                                width: 90%;
                            }
                            25%{
                                width: 87.5%
                            }
                            50%{
                                width: 85%
                            }
                        
                            75%{
                                width: 82.5%
                            }
                            100%{
                                width: 80%;
                            }
                        }
                    }
                    .card-menu__dish{
                        display: flex;                    
                        flex-direction: column;
                        justify-content: center;
                        width: 100%;
                        padding-right: 20px;
                        .card-top{
                            display: flex;
                            justify-content: space-between;
                            p:first-child{
                                font-size: 1.4rem;
                                font-weight: lighter;
                            }
                        }
                    }
                }
            }
        }
    }
    .menu-book__btn{
        width: 160px;
    }

    @include desktop-only{
        .menu-body{
            display: flex;
            justify-content: space-between;
        }
    }
}
