@import "../utils/variables";

.btn{
    display: block;
    margin: 0px auto;
    background: linear-gradient(180deg, rgba(255,121,218,1) 4%, rgba(200,103,219,1) 61%, rgba(147,86,220,1) 85%);
    border-radius: 50px;
    color: white;
    padding: 17px 23px;
    font-size: 1.8rem;
    text-align: center;
    font-weight: bold;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / .1), 0 8px 10px -6px rgb(0 0 0 / .1);
    cursor: pointer;
    transition: opacity .4s;
    &:hover{
        opacity: 0.8;
        box-shadow: 0 20px 25px -5px rgb(0 0 0 / .2), 0 8px 10px -6px rgb(0 0 0 / .2);
        // background: linear-gradient(180deg, rgba(255,121,218,.8) 4%, rgba(200,103,219,.8) 61%, rgba(147,86,220,.8) 85%);
    }
}

.new-pastille{
    width: 100px;
    height: 35px;
    background-color: $tertiary-color;
    position: absolute;
    top: 7%;
    right: 3%;
    border-radius: 3px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #486d64;
    font-weight: bold;
}

.card-menu__btn{
    position: absolute;
    right: 0%;
    display: none;
    background-color: $tertiary-color;
    height: 100%;
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    animation: slidein .3s forwards;
    i{
        font-size: 20px;
        color: white;
        --fa-animation-duration: .7s;
        --fa-animation-iteration-count: 1;
    }
}


@keyframes slidein {
    0%{
        width: 0%;
    }

    25%{
        width: 5%;
    }

    50%{
        width: 10%;
    }

    75%{
        width: 15%;
    }

    100%{
        width: 20%;
    }
}