@import "../utils/variables";

.accueil{
        #localisation{
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #eaeaea;
            i{
                margin-right: 10px;
            }
        }

        #banner{
            background-color: $light-gray;
            padding: 30px;
            height: 300px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            h1{
                margin-bottom: 18px;
            }
            p{
                font-size: 1.8rem;
                font-weight: lighter;
                margin-bottom: 25px;
            }
        }

        #loader{
            position: fixed;
            width: 100%;
            height: 100vh;
            text-align: center;
            line-height: 100vh;
            background-color: #fff;
            animation: 2s loader forwards;
            animation-duration: 2s;
            z-index: 9999;
            i{
                --fa-animation-duration: 2s;
                --fa-animation-iteration-count: 1;
            }

            @keyframes loader {
                0%{
                    opacity: 1;
                } 
                50%{
                    opacity: 1;
                }
                100%{
                    opacity: 0;
                    z-index: -1;
                }
            }
        }

        #fonctionnement{
            display: flex;
            flex-direction: column;
            min-height: 200px;
            padding: 50px 20px;

            h2{
                font-size: 2.8rem;
                margin-bottom: 20px;
            }
            .fonctionnement-container{
                width: 100%;
                height: 100%;
                .card-fonctionnement{
                    background-color: $light-gray;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    height: 80px;
                    border-radius: 20px;
                    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
                    position: relative;
                    margin-bottom: 20px;
                    &:hover{
                        background-color: rgba(200, 103, 219, .5);
                        opacity: .7;
                    }
                    &__circle{
                        width: 30px;
                        height: 30px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        background-color: $primary-color;
                        border-radius: 50%;
                        color: white;
                        position: absolute;
                        left: -10px;
                        
                    }
                    &__text{
                        display: flex;
                        justify-content: center;
                        i{
                            color: #4449;
                            &:hover{
                                color: $primary-color;
                            }
                        }
                        p{
                            font-weight: 600;
                            text-align: center;
                            width: 250px;
                        }
                    }
                    
                }
            }
        }

        #restaurants{
            padding: 50px 20px;
            background-color: $light-gray;
            h2{
                font-size: 2.8rem;
                margin-bottom: 20px;
            }
            .restaurants-container{
                min-height: 300px;
                .card-restaurant{
                    background-color: white;
                    border-radius: 15px;
                    box-shadow: 0 10px 15px -3px rgb(0 0 0 / .1), 0 4px 6px -4px rgb(0 0 0 / .1);
                    margin-bottom: 20px;
                    transition: .2s ease-in-out;
                    &:hover{
                        transform: scale(1.009);
                        box-shadow: 0 10px 15px -3px rgb(0 0 0 / .3), 0 4px 6px -4px rgb(0 0 0 / .3);
                    }
                    &__img{
                        height: 170px;
                        position: relative;
                        overflow: hidden;
                        border-top-left-radius: 15px;
                        border-top-right-radius: 15px;
    
                        img{
                            width: 100%;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }
                    &__body{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 20px 15px;
                        line-height: 1.5;
                    }
                    &__icon i{
                        font-weight: lighter;
                        font-size: 3rem;
                        &:hover{
                            font-weight: bolder;
                            background: linear-gradient($primary-color, $secondary-color);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            font-size: 3.3rem;
                            transition: font-weight .4s ease-in-out, font-size .8s ease-in-out;
                        }
                    }
                }
            }
        }

    @include tablet-only{
        .restaurants-container{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            a{
                width: 48%;
            }
        }
    }


    @include desktop-only{
        .fonctionnement-container{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .card-fonctionnement{
            min-width: 390px;
        }

        .restaurants-container{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            a{
                width: 24%;
            }
        }
    }
}