// Define breakpoints
$breakpoints:(
    mobile: 767px,
    tablet: 768px,
    desktop: 1024px
);

@mixin tablet-only{
    @media only screen and (min-width: map-get($breakpoints, tablet)) {
        @content;
    }
}

@mixin desktop-only{
    @media only screen and (min-width: map-get($breakpoints, desktop)) {
        @content;
    }
}

// Change the h1 font depending the page
$page_font: (accueil: $roboto-sans, restaurant: $shrikhand);
@each $page, $font in $page_font {
    body.#{$page}{
        h1{
            font-family: $font;
            font-size: 2.8rem;
            @if($page) == restaurant{
                font-weight: 500;
            }
        }
    }
}


// Animation
@mixin keyframes($name) {
    @-webkit-keyframes #{$name}{
        @content;
    }

    @-moz-keyframes #{$name}{
        @content;
    }

    @keyframes #{$name}{
        @content;
    }
}


@mixin food-loader($id, $duration, $delay){
    @-webkit-keyframes food-loader-#{$id}{
        0%{
            transform: translateX(200%);
            opacity: 1;
        } 
        50%{
            transform: translateX(0);
            opacity: 1;
        }
        100%{
            transform: translateX(-200%);
            opacity: 0;
        }
    }

    @-moz-keyframes food-loader-#{$id}{
        0%{
            transform: translateX(200%);
            opacity: 1;
        } 
        50%{
            transform: translateX(0);
            opacity: 1;
        }
        100%{
            transform: translateX(-200%);
            opacity: 0;
        }
    }

    @keyframes food-loader-#{$id}{
        0%{
            transform: translateX(200%);
            opacity: 1;
        } 
        50%{
            transform: translateX(0);
            opacity: 1;
        }
        100%{
            transform: translateX(-200%);
            opacity: 0;
        }
    }
    animation: food-loader-#{$id} $duration+s $delay+s ease-in;
}
